<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>WELLCOME TO MY WEB APPLICATION</h1>
    <span>This is includes all avaiable endpoint in my applicaion.</span>
    <hr />
    <hr />
    <div>
      <span>Create Customer</span>
      <span>http://localhost:3000/api/customer/create</span>
    </div>
    <div>
      <span>Get All Customer</span>
      <span>http://localhost:3000/api/customer/get-customers</span>
    </div>
    <div>
      <span>Get Detail Customer</span>
      <span>hhttp://localhost:3000/api/customer/get-customer/:id</span>
    </div>
    <div>
      <span>Detele Customer</span>
      <span>http://localhost:3000/api/customer/delete-customer/:id</span>
    </div>
    <div>
      <span>Update Customer</span>
      <span>http://localhost:3000/api/customer/update-customer/:id</span>
    </div>
  </body>
</html>
